@import "../App.less";
@blockLength: 80px;

.LightBlock{
    background-color: white;
    border: none;
    align-content: center;
    width: @blockLength;
    height: @blockLength;
}

.Square{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselectable {

}

.DarkBlock{
    background-color: black;
    border: none;
    align-content: center;
    child-align: middle;
    width: @blockLength;
    height: @blockLength;
}

.LightBlock:active{
    background-color: yellow;
    border: none;
    align-content: center;
    width: @blockLength;
    height: @blockLength;
}

.DarkBlock:active{
    background-color: yellow;
    border: none;
    align-content: center;
    child-align: middle;
    width: @blockLength;
    height: @blockLength;
}

.HighlightBlock{
    background-color: orange;
    border: none;
    align-content: center;
    child-align: middle;
    width: @blockLength;
    height: @blockLength;
}

.LightBlockPiece{
    -webkit-filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
}

.DarkBlockPiece{
    -webkit-filter: drop-shadow(1px 1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white)
    drop-shadow(-1px -1px 0 white);
}
