@import "../App.less";
@blockLength: 80px;

.SideMenu {
    margin-left: 20px;
    background-color: lightgray;
    width: 250px;
    height: 640px;
}

.MoveList {
    background-color: white;
    margin-top: 10px;
    vertical-align: middle;
}

.ant-list-item {
    height: 16px;
}

.ant-card-body {
    max-height: 640px;
}

.ant-list-items {
    overflow: auto;
    max-height: 504px;
    scrollbar-width: none;
}

.ant-list-items::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

.SmallFont {
    font-size: 10px;
    margin: 0;
}

.LightBlock{
    background-color: white;
    border: none;
    align-content: center;
    width: @blockLength;
    height: @blockLength;
}

.Square {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Centered {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.DarkBlock{
    background-color: black;
    border: none;
    align-content: center;
    child-align: middle;
    width: @blockLength;
    height: @blockLength;
}

.LightBlock:active{
    background-color: yellow;
    border: none;
    align-content: center;
    width: @blockLength;
    height: @blockLength;
}

.DarkBlock:active{
    background-color: yellow;
    border: none;
    align-content: center;
    child-align: middle;
    width: @blockLength;
    height: @blockLength;
}

.HighlightBlock{
    background-color: orange;
    border: none;
    align-content: center;
    child-align: middle;
    width: @blockLength;
    height: @blockLength;
}

.LightBlockPiece{
    -webkit-filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
}

.DarkBlockPiece{
    -webkit-filter: drop-shadow(1px 1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white)
    drop-shadow(-1px -1px 0 white);
}
